<div class="container">
    <app-filteration-side-bar class="side-bar"></app-filteration-side-bar>
    <div class="products-list">
        <div class="list-header">
            <h3>Products</h3>
            <button class="products-sync-btn" (click)="syncProducts()">Sync</button>
        </div>
        <div class="list-items">
            <div class="item" *ngFor="let item of filteration(productsList)">
                <div class="item-header">
                    <button class="item-sync-btn">Sync</button>
                    <img [src]="item.imageUrl" alt="item-image" class="item-image" *ngIf="item.imageUrl in item ">
                    <div *ngIf="item?.imageUrl == undefined" class="item-image-placeholder">
                        <i class="fas fa-image"></i>
                    </div>
                </div>
                <div class="item-body">
                    <p class="item-title">{{item.name}}</p>
                    <p class="item-price">{{item.price | currency}}</p>
                </div>
            </div>
        </div>
    </div>
</div>